*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
p{
	margin-top: 10px;
	font-size: 13px;
	text-align: justify;
}
img{
	pointer-events: none;
}

.contenedor, .contenido-libro{
	display: flex;
	justify-content: center;
	align-items: center;
}
.contenedor{
	width: 100%;
	height: 100vh;
	background: #c1c1c1;
}
.contenido-libro{
	width: 65%;
	min-width: 250px;
	max-width: 600px; /* Ancho del libro*/
	height: 560px;
	position: relative;
	perspective: 1000px;
	transition: 1s;
}
.libro{
	position: absolute;
	width: 65%;
	height: 100%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left;
	left: 20vw;
}
.face-front, .face-back{
	width: 100%;
	height: 100%;
	background: white;
	padding: 0px;
	box-sizing: border-box;
	overflow: hidden;
}
.face-front{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.face-back{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
#portada{
	background: url('../img/Chara - Zine.png'); /* Imagen portada*/
}
#portada-back{
	background: url('../img/Contra.png'); /* Imagen contra portada*/
}
#portada, #portada-back{
	background-size: 100% 100%;
}

/* Clases que se agregaran con Javascript */

.trnsf{
	transform: translateX(80px);
}
.trnsf-reset{
	transform: translateX(0px);
}

.full-page {
    height: 100%;
    object-fit: contain; /* o "contain" si quieres que no se recorte */
    display: block;
}


/* @media para hacer el texto responsivo */

@media screen and (max-width: 800px){
	p{
		font-size: 12px;
	}
}